/*css for toggle button*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  float:right;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;

  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  left:4px;
  bottom:3px;
  width:14px;
  height:14px;
  background-color: white;

  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

input:checked + .slider {
 background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);

}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*css for toggle button ends*/
.fieldpos {
  position: relative;
  display: flex;
  min-width: 80%;
  justify-content: center;

}
.nav-tabs>li.crs {
  float: none;
  background-color: #0000;
}
.nav-tabs>li.crs:focus, .nav-tabs>li.crs:hover {
  background-color: #0000;
}
.nav-tabs>li.crs>a {
  color:black;
  background-color: #0000;
}
.nav-tabs>li.crs.active>a, .nav-tabs>li.crs.active>a:focus , .nav-tabs>li.crs.active>a:hover {
  border:0px;
  color:#2196F3;
  background-color: #0000;
}
.nav-tabs.crstabs {
  border-bottom:0px;
  text-align:center;
}
.nav>li.crs {
  display: inline-block;
}
.btn {
  display: block;
  width: 60px;
  height: 33px;
  margin-right: auto;
  margin-left: auto;
}
.btn-primary {
  background-color: #2196F3;
}
.profileDetails.cstat {
  height:auto;
}
