.container{
    display: block !important;
  }
  .panel-default{
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.45);
    webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.45);
  }
  .panel-body{
  	color: #333;
  }
  a.remove{
    color: #ca0f0f;
  }
  a.wishhref{
    color: #009688;
  }
  .col-md-12 img{
  	width: 70px;
  }
  @media (max-width: 500px){
  	.col-xs-12 img{
  		width: 30px;
  	}
  }