<header ng-controller="headercntrl"></header>
<div class="topSpacing">
	<div class="container-fluid">
		<div class="col-md-2 col-lg-2">
			<sidebar></sidebar>
		</div>
		<div class="col-md-10 col-lg-10">
			<div class="profileDetails cstat">
				<ul class="nav nav-tabs crstabs">
					<li class="crs active">
						<a data-toggle="tab" data-target="#coursesOffered">Courses Offered</a>
					</li>
					<li class="crs">
						<a data-toggle="tab" data-target="#preferredLocation">Preferred Location</a>
					</li>
				</ul>

				<div class="tab-content">
					<div id="coursesOffered" class="tab-pane fade in active">
						<ul class="list-group">
							<div class="list-group-item" ng-repeat="course in availableCourses">
								{{course.LOC_COURSE_NAME}}
								<label class="switch">
									<input type="checkbox" ng-model="ticked" ng-click="course_availablity(ticked,course.LOC_COURSE_ID)">
									<span class=" slider round"></span>
								</label>
							</div>
						</ul>
					</div>
					<div id="preferredLocation" class="tab-pane fade">
						<div class="droptab list-group">
							<div class="list-group-item" ng-repeat="place in availableLocations">{{place.Complc}}
								<label class="switch">
									<input type="checkbox" ng-model="tickedLoc" ng-click="place_availablity(tickedLoc,place.LOC_LOCATION_ID)">
									<span class=" slider round"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<button class="custom-btn btn-primary">Update</button>
			</div>
		</div>
	</div>
</div>
