<header ng-controller="headercntrl"></header>
<div class="topSpacing">
	<div class="container-fluid">
		<div class="col-md-2 col-lg-2">
			<sidebar></sidebar>
		</div>
		<div class="col-md-10 col-lg-10">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" data-target="#home">Received</a></li>
				<li><a data-toggle="tab" data-target="#contacted">Contacted</a></li>
				<li><a data-toggle="tab" data-target="#student">Joined</a></li>
				<li><a class="margin-adjust" data-toggle="tab" data-target="#stand-out">Institute Ranking</a></li>
			</ul>

			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<div class="list total">{{enquries.length}} Enquiries</div>
					<div class="list animation wow flipInX" data-wow-delay="0.2s" ng-repeat="enquery in enquries" ng-click="enquiryDetail(enquery)">	
	                    <div class="first-char">
	                    	<div class="first-letter randomColor" ng-bind="enquery.enquired_username.charAt(0)"></div>
	                    </div>
	                    <div class="desc">
	                    	<h3>{{enquery.enquired_username}}</h3>
							<h6 class="category"><strong>{{enquery.enquired_category | uppercase}}</strong></h6>
							<p class="location" ng-model="loaction">{{enquery.enquired_user_location}}, {{enquery.enquired_user_city}}</p>
		                </div>
					</div>
				</div>
				<div id="contacted" class="tab-pane fade">
					<div class="list animation wow flipInX" data-wow-delay="0.2s" ng-repeat="contacts in contacted">	
	                    <div class="first-char">
	                    	<div class="first-letter randomColor" ng-bind="contacts.firstname.charAt(0)"></div>
	                    </div>
	                    <div class="desc">
	                    	<h3>{{contacts.firstname}} {{contacts.lastname}}</h3>
							<h6 class="category"><strong>{{contacts.coursename | uppercase}}</strong>, {{contacts.location_name}},  {{contacts.location_city}}</h6>
							<p class="location" ng-model="loaction"></p>
							<p class="msg">Hi, {{contacts.firstname}}. We can help you with the above requirement as we offer a....</p>
		                </div>
					</div>
				</div>
				<div id="student" class="tab-pane fade">
					<div class="list animation wow flipInX" data-wow-delay="0.2s" ng-repeat="stud in StudentsList">	
	                    <div class="first-char">
	                    	<div class="first-letter randomColor" ng-bind="stud.enquired_username.charAt(0)"></div>
	                    </div>
	                    <div class="desc">
	                    	<h3>{{stud.enquired_username}}</h3>
							<h6 class="category"><strong>{{stud.enquired_category | uppercase}}</strong></h6>
							<p class="msg">Hi, {{stud.enquired_username}}. We can help you with the above requirement as we offer a....</p>
		                </div>
					</div>
				</div>
				<div id="stand-out" class="tab-pane fade">
					<div class="list animation wow flipInX" data-wow-delay="0.2s" ng-repeat="pos in position">	
	                    <div class="first-char randomColor">
	                    	<div class="training-institue-logo" ng-bind=""></div>
	                    </div>
	                    <div class="desc">
	                    	<h3>{{pos.enquired_address}}</h3>
	                    	<div class="icon-group">
	                    		<span class="icon-space"><i class="far fa-comment-alt"></i> {{pos.enquired_review}}</span>&nbsp;
	                    		<span class="icon-space"><i class="far fa-file"></i> {{pos.enquired_reply}}</span>&nbsp;
	                    		<span class="icon-space"><i class="far fa-gem"></i> {{pos.enquired_range}}</span>
	                    	</div>
		                </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
