<header></header>
<div class="container-fluid">
<div class="col-md-4">
<sidebar></sidebar>
</div>

<div class="col-md-8"> 
<div class="col-md-2"><button class="btn-signUp" ng-click="enquiries()">Enquiries</button></div>
 <div class="col-md-2"><button class="btn-signUp" ng-click="contacted()">Contacted</button></div>
<div class="col-md-2"><button class="btn-signUp" ng-click="student()">Student</button></div>
<div class="col-md-2"><button class="btn-signUp" ng-click="standout()">Stand out</button></div>

 <p ng-model=""> {{products.length}} Enquiries</p>
<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 data-list" ng-repeat="item in products">
	<div class="first-letter" ng-bind="item.enquired_username.charAt(0)"></div>
<p ng-bind="item.enquired_username"></p>
<p ng-bind="item.enquired_category"></p>
<p ng-model="loaction">{{item.enquired_user_location}}, {{item.enquired_user_city}}</p>

</div>
</div>
</div>
