<div class="container-fluid header-section">
  <div class="row relative">
    <div class="col-md-offset-1 col-md-2 col-sm-4 col-xs-4">
      <div class="site-logo">
        <img style="height: 40px;" src="img/ideology.png" alt="urban" class="img-responsive">
      </div>
    </div>
    <div class=" col-md-6 col-sm-6 col-xs-6">
      <div class="col-md-5 col-sm-5 col-xs-5 padding-modify">
        <div class="form-group">
          <input type="text" size="50" class="form-control form-control1-modify" placeholder="Search location.." ng-model="locate" ng-keyup="suggestLocations(locate)">
          <ul class="tall list-group" ng-hide="hidethis" ng-blur="disp()">
            <li class="list-group-item" ng-repeat="place in places" ng-click="filltextbox(place)">
              {{place.plc}}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-5 padding-modify">
        <div class="form-group">
          <input type="text" size="50" class="form-control form-control2-modify" placeholder="Search courses.." ng-model="subject" ng-keyup="suggestCourses(subject)" ng-blur="dispp()">
          <ul class=" drop list-group" ng-hide="hidden" >
            <li class="list-group-item" ng-repeat="course in courses" ng-click="fillcoursebox(course);">{{course.course_name}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2 padding-modify">
        <button type="button" class="btn btn-default" ng-click="capture(selectedlocation,selectedcourse)">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4">
      <span class="techninzaz">
        <b>DIAMOND</b>
        <div class="profile-logo dropdown">

          <a href="#" >
            <ul class="dropdown-menu">
              <li class="dropdown-header"><a href="#">{{instituteName}}</a></li>
              <li class="divider"></li>
              <li><a href="#">Profile Settings</a></li>

              <li class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
            <img ng-src={{instituteImage}} alt="urban" data-toggle="dropdown" class="img-responsive techninzaz-logo">
          </a>
        </div>
      </span>
    </div>
  </div>
</div>
