<header ng-controller="instiCtrl"></header>
<div class="topSpacing">
	<div class="container-fluid">
		<div class="col-md-2 col-lg-2">
			<sidebar></sidebar>
		</div>
		<div>
			<h2 style="margin-left: 20%;">About Us</h2>
		</div><hr>
		<div class="col-md-10 col-lg-10 center-block">
			<div class="insti">
				<div><span class="floatL"><i style="height: 30px; width: 40px;" class="fas fa-arrow-circle-left"></i></span></div>
				
				<div class="col-md-5 col-lg-5 marginR">
					<div class="panel panel-default" style="border: 0px;box-shadow: none;">
						<div class="panel-heading labelfont color" style="border: 0px; background-color: #FFF;"> 
							Upload Logo 
							<button class="pull-right btn btn btn-default" ng-click="editphoto()"><i class="glyphicon glyphicon-pencil"></i> Edit </button>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body" style="border: 0px;">
							<img class="center-block" style="margin-bottom: 16px;" src="https://c.urbanpro.com/assets/new-ui/profilePhoto_placeholder-d9efc4c8dfff0d644f650bdfbba81654.png">
							<input type="file/hidden" class="btn btn-primary center-block" value="UPLOAD" ng-disabled="edit1" disabled="disabled">
						</div>
					</div><hr>
					<div>
						<div class="panel panel-default" style="border: 0px;box-shadow: none;">
							<div class="panel-heading labelfont color" style="border: 0px; background-color: #FFF;">
								About
								<button class="pull-right btn btn btn-default" ng-click= "editabout()"><i class="glyphicon glyphicon-pencil"></i> Edit</button><br>
								<div><textarea style="margin-top: 26px;" class="form-control" ng-disabled = "edit2"></textarea>
								</div>
							</div>
						</div>
					</div><hr>
					<div>
						<div class="panel panel-default" style="border: 0px;box-shadow: none;">
							<div class="panel-heading labelfont color" style="border: 0px; background-color: #FFF;">
								Institute Description
								<button class="pull-right btn btn btn-default" ng-click = "editdesc()"><i class="glyphicon glyphicon-pencil"></i> Edit </button><br>
								<textarea style="margin-top: 46px;" class="form-control" ng-disabled = "edit3"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-lg-5">
					<!-- <div style="border-radius: 5px; padding: 20px; display: block; background-color: white;"> -->
					<div>
						<div class="panel panel-default" style="border: 0px;box-shadow: none;">
							<div class="panel-heading labelfont color" style="border: 0px; background-color: #FFF;">
								Basic Info<button class="pull-right btn btn btn-default" ng-click = "editbasic()"><i class="glyphicon glyphicon-pencil"></i> Edit </button><br>
							</div>
						</div>
					</div>
					<div>
						<div style="margin-top: 26px;">
							<span><i class="fa fa-user"></i></span>&nbsp;<label class="color">  Founded By </label>
								<input class="form-control" type="text" name="founded" ng-disabled = "edit4">
						</div>
						<div style="margin-top: 16px;">
							<span><i class="fa fa-calendar"></i></span>&nbsp;<label class="color">  Founded On </label>
								<input class="form-control" type="date" name="founded" ng-disabled = "edit4">
						</div>
					</div><hr>
					<div>
						<div class="panel panel-default" style="border: 0px;box-shadow: none;">
							<div class="panel-heading labelfont color" style="border: 0px; background-color: #FFF;">
								Contact Info
								<button class="pull-right btn btn btn-default" ng-click= "editcntct()"><i class="glyphicon glyphicon-pencil"></i> Edit </button>
							</div>
						</div>
					</div>
					<div>
						<span><i class="fa fa-phone"></i></span>&nbsp;<label class="color"> Phone *</label>
						<input class="form-control" type="text" name="phone" ng-disabled="edit5"><br><br>
						<span><i class="fa fa-envelope"></i></span>&nbsp;<label class="color"> Email *</label>
						<input class="form-control" type="text" name="email" ng-disabled="edit5">
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="file/hidden" class="btn btn-primary center-block" value="SAVE CHANGES">
</div>
			
			
