<header></header>

<div class="topSpacing">
	<div class="container-fluid">
		<div class="col-md-2 col-lg-2">
			<sidebar></sidebar>
		</div>
		<div class="col-md-3 col-lg-3">
			<div class="user-block">
				<div class="user-basic-detail">
					<h3><span><i class="fas fa-arrow-circle-left"></i></span> {{userDetail.enquired_username}}</h3>
					<h5><i class="fas fa-map-marker-alt"></i>&nbsp; {{userDetail.enquired_user_location}}, {{userDetail.enquired_user_city}}</h5>
					<p><i class="fas fa-mobile-alt"></i>&nbsp; {{userDetail.enquired_user_phnno}}</p>
				</div>
				<div class="payment">
					<span class="payment-request">Request a Payment</span>
					<h5>When the student is ready to pay</h5>
				</div>
			</div>
			<div class="did-join-course">
				<h5>{{userDetail.enquired_category}}</h5>
				<p>Received at {{userDetail.timestamp}}</p>
				<div class="did-join-detail">
					<h5> Did {{userDetail.enquired_username}} join for any course?</h5>
					<button> Yes </button> &nbsp;&nbsp;&nbsp; 
					<button> No</button>
				</div>
				<br>
			</div>
		</div>
		<div class="col-md-7 col-lg-7">
			<div class="message">
				<div class="msgDetails">
					<h5>Hi {{userDetail.enquired_username}}. We can help you with the above requirement.We have a Classroom Training Module on Hybride Angularjs Development.Please contactus at +91-9739789657(verified)Thanks & regards.TechNinzaz
					</h5>
				</div>
				<div class="discuss-details">
					<h3>Call {{userDetail.enquired_username}} to discuss details</h3>
					<div class="contact-block">
						<button class="contact-button">
							<i class="fas fa-phone-volume"></i> &nbsp; {{userDetail.enquired_user_phnno}}
						</button>
				<div class="msgDetails">	
					<div class="form-group"  ng-if="userDetail.enquired_username == null">
						<form name="messageform">
	    					<label for="message"></label>
	    					<textarea class="form-control" name="msgText" ng-model="msgText" id="message" rows="7"></textarea>
	    					<br>
	    					<button class="btn btn-info" ng-click="submitQuotation()" ng-disabled="messageform.$invalid || messageform.$pristine">Send</button>
	    				</form>
	    			</div>
					<div ng-if="userDetail.enquired_username != null">	
						<h5>Hi {{userDetail.enquired_username}}. We can help you with the above requirement.We have a Classroom Training Module on Hybride Angularjs Development.Please contactus at +91-9739789657(verified)Thanks & regards.TechNinzaz
						</h5>	
					</div>
    			</div>
				<div class="discuss-details">
					<h3>Call {{userDetail.enquired_username}} to discuss details</h3>
					<div class="contact-block">
						<button class="contact-button"><i class="fas fa-phone-volume"></i> &nbsp; {{userDetail.enquired_user_phnno}}</button>
					</div>
					<p>Please call between 9am and 9pm</p>
				</div>
			</div>
		</div>
	</div>
</div>