<header></header>

<div class="topSpacing">
	<div class="container-fluid">
		<div class="col-md-2 col-lg-2">
			<sidebar></sidebar>
		</div>
		<div class="col-md-3 col-lg-3">
			<div class="user-block">
				<div class="user-basic-detail">
					<h3><span><i class="fas fa-arrow-circle-left"></i></span> {{userDetail.firstname}} {{userDetail.lastname}}</h3>
					<p><i class="fas fa-map-marker-alt"></i>&nbsp; {{userDetail.location_name}}, {{userDetail.location_city}}</p>
					<h5><i class="fas fa-mobile-alt"></i>&nbsp; {{userDetail.mobile}}</h5>
				</div>
				<div class="payment center">
					<span class="payment-request"> Request a Payment</span>
					<h5>When the student is ready to pay</h5>
				</div>
			</div>
			<div class="join">
				<div class="leftBottom" ng-if="type == 'contact'">
					<h4>{{userDetail.coursename}}</h4>
					<p>Received at {{userDetail.timestamp}}</p>
					<div class="did-join-detail">
						<h5> Did {{userDetail.firstname}} started class in your Institute?</h5>
						<button ng-click="updateTransactionStatus('student')"> Joined </button>
					</div>
					<br>
				</div>
				<div class="leftBottom" ng-if="type == 'enquiry'">
					<h3>{{userDetail.coursename}}</h3>
					<p>Received at {{userDetail.timestamp}}</p>
					<button ng-click="updateTransactionStatus('contact')"> I Have Called </button>
				</div>
			</div>
		</div>
		<div class="col-md-7 col-lg-7">
			<div class="message">
				<div class="msgDetails">
					<div>
						<div class="messageBlock" ng-show="dispChat">
							<h6 ng-repeat="a in messages track by $index">
									<div ng-if="a.from == 'customer'" class="customer">{{a.text}} <br><span style="float:right;font-size: 10px;margin-top: 10px;">{{a.timestamp}}</span></div>
									<div class="institute" ng-if="a.from == 'institute'">{{a.text}} <br><span style="float:right;font-size: 10px;margin-top: 10px;">{{a.timestamp}}</span></div>
							</h6>
						</div>
						<form name="messageform">
    					<label for="message"></label>
    					<textarea class="form-control" name="msgText" ng-model="newmessage" id="message" rows="7"></textarea>
    					<br>
    					<button class="btn btn-info" ng-click="submitQuotation()" ng-disabled="messageform.$invalid || messageform.$pristine">Send</button>
    				</form>
					</div>
					<div class="discuss-details center">
						<h3>Call {{userDetail.enquired_username}} to discuss details</h3>
						<div class="contact-block">
							<button class="contact-button"><i class="fas fa-phone-volume"></i> &nbsp;<h4 class="desc">{{userDetail.mobile}}</h4></button>
						</div>
						<p>Please call between 9am and 9pm</p>
					</div>
			</div>
		</div>
	</div>
</div>
